
/* -------------------- UNIVERSAL -------------------- */

:root {

    --hoverGrey: hsl(230, 20%, 70%);
    --accentBlue: hsl(240, 87%, 65%);

    --bgColorLightMode: hsl(186, 67%, 91%);
    --txtColorLightMode: hsl(195, 8%, 9%);

    --bgColorDarkMode: hsl(0, 0%, 12%);
    --txtColorDarkMode: hsl(196, 27%, 92%);

    --bgColorHeadFoot: hsl(0, 0%, 100%, 0.8);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Quicksand;
}

body {
    background-color: var(--bgColorLightMode);
}

img {
    max-width: 100%;
}

/* -------------------- HEADER -------------------- */

header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 5rem;
    padding: 1em;
    background-color: var(--bgColorHeadFoot);
}

header>h2 {
    font-family: Sacramento;
    font-size: 2em;
}

header>span {
    position: absolute;
    right: 1em;
    font-size: 30px;
    cursor: pointer;
}

header>* {
    display: inline;
}

header a {
    text-decoration: none;
}

nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--bgColorHeadFoot);
    overflow-x: hidden;
    transition: 1s;
    padding-top: 4em;
    text-align: right;
}

nav a {
    margin-top: 1em;
    margin-right: 1em;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;

}

nav a:hover {
    color: var(--hoverGrey);
}

nav .close-nav-btn {
    position: absolute;
    top: 0;
    right: 0.5em;
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-right: 0.5em;
}


/* -------------------- MAIN -------------------- */

/*current weather*/
.location-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
}

.location-container span{
    color: var(--accentBlue);
}

.current-temp-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.current-temp-container img{
    width: 25vw;
}

.current-temp-container h3{
    font-size: 5vw;
    font-weight: 1000;
}

.info-container{
    background-color: var(--bgColorHeadFoot);
    margin: 0 2rem 0;
    padding: 1rem;
}

.info-container div{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/* -------------------- FOOTER -------------------- */

footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 5rem;
    padding: 1em;
    background-color: var(--bgColorHeadFoot);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

footer div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1em;
}

footer img{
    max-height: 70%;
}


/* -------------------- DESKTOP -------------------- */


@media screen and (min-width: 500px) {

    header>*{
        position: absolute;
    }

    .nav-toggler,
    .close-nav-btn {
        display: none;
    }

    nav {
        position: static;
        width: 100%;
        background-color: transparent;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
    }

    nav a {
        margin: 1em;
        font-size: 1em;
    }

}