:root {

    --creamWhite: hsl(63, 100%, 96%, 0.9);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Quicksand;
}

body {
    background-color: hsl(340, 60%, 80%, 0.5);
}

img {
    max-width: 100%;
}

header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 5rem;
    padding: 1em;
    border: 2px dotted black;
    background-color: var(--creamWhite);
}

header>h2 {
    font-family: Sacramento;
    font-size: 2em;
}

header>span{
    position: absolute;
    right: 1em;
}

header>* {
    display: inline;
}

header a {
    text-decoration: none;
}





/* ---------- Testar Toggler nedan */

nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

nav a:hover {
    color: #f1f1f1;
}

nav .close-nav-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}




/* ------------------------------------------------------------ Desktop nedan */


/* @media screen and (min-width: 500px) {

    
    nav{

    }
   

} */